:root {
    --primary: #FF2E00;
    --secondary: #D8C5D8;
    --tertiary: #7C5CFF;
    --white: #F4F4F6;
    --black: #131216;
}

#toastTypeIndicator {
    border-radius: 360px;
    height: 1rem;
    margin-right: 0.6rem;
    width: 1rem;
}

.tooltip-icon {
    border: var(--tertiary) solid 1px;
    border-radius: 12rem;
    color: var(--tertiary);
    float:inline-end;
    font-size: 0.76rem;
    font-weight: bold;
    height: 1.4rem;
    margin-top: 0.2rem;
    width: 1.4rem;
}

.card {
    height: 100%;
    padding: 2rem;
}

#form-container button {
    margin-top: 1rem;
}

#form-error-message {
    margin: 1rem auto;
}

#form-inputs-row {
    height: 24rem;
}

.btn-outline-danger {
    font-size: 0.6rem;
    font-weight: bold;
    height: 2rem;
    width: 2rem;
}

.delete-item-column {
    text-align: center;
}