:root {
    --primary: #FF2E00;
    --secondary: #D8C5D8;
    --tertiary: #7C5CFF;
    --white: #F4F4F6;
    --black: #131216;
    --green: #9FE2BF;
    --light-green: #DAF7A6;
    --yellow: #FFC300;
    --orange: #FF5733;
}

.card {
    height: 100%;
    padding: 2rem;
}

#form-container button {
    margin-top: 1rem;
}

#form-error-message {
    margin: 1rem auto;
}

#form-inputs-row {
    height: 24rem;
}

/* .btn-outline-danger {
    font-size: 0.6rem;
    font-weight: bold;
    height: 2rem;
    width: 2rem;
}

.delete-item-column {
    text-align: center;
} */