@font-face {
    font-family: "Ravie";
    src: url("https://db.onlinewebfonts.com/t/2aeca327ae0e8ba04bf305f13cb1d589.eot");
    src: url("https://db.onlinewebfonts.com/t/2aeca327ae0e8ba04bf305f13cb1d589.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2aeca327ae0e8ba04bf305f13cb1d589.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2aeca327ae0e8ba04bf305f13cb1d589.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2aeca327ae0e8ba04bf305f13cb1d589.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2aeca327ae0e8ba04bf305f13cb1d589.svg#Ravie")format("svg");
}

.project-number {
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: baseline;
}

.card-subtitle {
    font-size: 1.2rem;
}